<div id=page-title>Document</div>
<div id="menu">
  <!-- 上のメニュー -->
  <div class="lang-button">
    <a href="/ja/shell">
      shell
    </a>
  </div>
  <div class="lang-button">
    <a href="/ja/ruby">
      ruby
    </a>
  </div>
</div>

<div id="side">
  <!-- 左のメニュー -->
  <div class="title-logo">
    GRIGORI
  </div>
</div>

<div id="main">
  <!-- 背景色を分けるためだけの要素 -->
    <div id="main-left"></div>
    <div id="main-right"></div>
  <!-- 背景色を分けるためだけの要素 -->

  <!-- ここの要素をテンプレートとしてループ -->
  <% @data.each do |datas| %>
  <div class="main-items">
    <div class="main-item-title <%= datas['tag'] %> <%= datas['group'] %>" id="<%= datas['title'] %>">
      <%= datas["title"] %>
    </div>

    <div class="main-item-text">
      <%= datas["text"] %>
    </div>

    <div class="main-item-code">
      <%= datas["code"] %>
    </div>
  </div>
  <% end %>
  <!-- おまじない -->
    <div style="clear: both;"></div>
  <!-- おまじない -->
</div>
