html, body{
	width: 100%;
	height: 100%;
	font-size: 12px;
	position: relative;
	margin: 0;
	padding: 0;
}

#page-title{
	width: calc(50% - 100px);
	height: 30px;
	margin-left: 200px;
	background: #fff;
	top: 0;
	left: 0;
	font-size: 20px;
  text-align: center;
  margin-top: 30px;
  position: relative;
}

#menu{
	width: calc(50% - 100px);
	height: 60px;
	background: #111;
	-webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
	        box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
}

.lang-button{
  width: 60px;
	height: 60px;
	background: rgba(0,0,0,0);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.lang-button a{
	top: 0;
	width: 60px;
	height: 40px;
	padding-top: 20px;
  font-size: 15px;
  text-decoration: none;
  color: #bbb;
  display: block;
  position: absolute;
}

#side{
	width: 200px;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
}

.title-logo{
	width: 200px;
	height: 80px;
	font-size: 20px;
	color: #2A3CC4;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

#main{
	width: calc(100% - 200px);
	height: auto;
	margin-left: 200px;
	position: relative;
	overflow: auto;
}

#main-left{
	width: 50%;
	height: 100%;
	background: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
	-webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
	        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
}

#main-right{
	width: 50%;
	height: 100%;
	background: #444;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: -10;
}

.main-items{
	width: 100%;
	height: auto;
	position: relative;
}

.main-item-title{
	width: 100%;
	height: auto;
	float: left;
	font-size: 20px;
	margin-bottom: 5px;
}

.main-item-text{
	width: calc(50% - 40px);
	height: auto;
	float: left;
	margin-left: 20px;
	color: #c00
}

.main-item-code{
	width: calc(50% - 40px);
	height: auto;
	float: left;
	margin-left: 40px;
	color: #aaa
}